* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

.logo img {
    padding-top: 25px;
}

.header-col {
    padding-left: 20px;
}

.header-col h2 {
    text-align: center;

    position: relative;
    line-height: 30px;
    color: #000000;
}

.header-col h2::after {
    content: '';
    background: #000000;
    width: 310px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding-bottom: 25px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    color: #000000;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    text-align: center;
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 35px;
    padding-top: 5px;
}

.col-a {
    flex-basis: 40%;
    background: radial-gradient(#fff, #f5ccc5);
    min-width: 100px;
    padding: 15px 15px;
    padding-top: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.col-2 img {
    max-width: 100%;
    padding-left: 70px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #efc9c3;
    color: #0b0b0b;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.5s;
}

.btn:hover {
    background: #dc0e3e;
    color: white;
}

.header {
    background: radial-gradient(#fff, #f9cdc6);
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.4s;
}

.col-3 img {
    width: 30%;
    padding: 20px;
}

.small-container {
    margin-left: 100px;
    display: inline-block;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.4s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #000000;
}

.title::after {
    content: '';
    background: #efc9c3;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #000000;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating {
    color: #d59338;
}

.col-4:hover {
    transform: translateY(-5px);
}

/*   testimonial */
.testimonial {
    padding-top: 100px
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.4s;
}

.testimonial .col-3 img {
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #d59338
}

.fa.fa-quote-right {
    font-size: 34px;
    color: #d59338
}

.col-3 {
    font-size: 12px;
    margin: 12px 0;
    color: #000000;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
}

/*   footer  */
.footer {
    background: #000000;
    color: #efc9c3;
    font-size: 14px;
    padding: 16px 0 20px;
}

.footer p {
    color: #fff;
    font-size: 12px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 1;
    text-align: center;
}

.footer-col-1 img {
    width: 90px;
    margin-bottom: 20px;
}

.footer-col-4,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
    color: #fff;
}

.footer hr {
    border: none;
    background: #fff;
    height: 0.1px;
    margin: 20px 0;
}

.Copyright {
    text-align: center;
}

.menu-icon {
    width: 20px;
    margin-left: 20px;
    display: none;
}

/*single prod details*/
.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #000000;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #000000;
    margin-left: 10px;
}

.row-2 h2 {
    margin-left: 50px;
}

/*cart items*/
.cart-page {
    margin-left: 170px;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #000000;
    background: #efc9c3;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #dc0e3e;
    font-size: 12px;
}

td img {
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #efc9c3;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.row-2 h2 {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 50px;
    color: #000000;
}

.row-2 h2::after {
    content: '';
    background: #efc9c3;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* account*/
.account-page {
    background: radial-gradient(#fff, #f9cdc6);
}

.form-container {
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #000000;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 200px;
    padding: 0 20px;
    position: absolute;
    top: 50px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#loginform {
    left: -300px;
}

#regform {
    left: 0;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    background: #f9cdc6;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/* about */
.about-section {
    text-align: center;
    padding: 40px 20px;
    margin-left: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.4s;
}

.about-section h1 {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 50px;
    color: #000000;
}

.about-section h1::after {
    content: '';
    background: #efc9c3;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-section h2 {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 50px;
    color: #000000;
}

.about-section h2::after {
    content: '';
    background: #efc9c3;
    width: 290px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-section h3 {
    text-align: center;
    position: relative;
    line-height: 35px;
    color: #000000;
}

.about-section h3::after {
    content: '';
    background: #000000;
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}





/* media query for menu */
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.4s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/* all prods*/
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
    margin-right: 50px;
}

select {
    border: 1px solid #000000;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #000000;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background-color: #dc0e3e;
    color: #fff;
}

/*media query for less than 600 screen size*/
@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p {
        display: none;
    }

}
